/* Navigation Bar */
.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	width: 100%;
}
.navbar li {
	float: left;
}

.navbar a {
	display: block;
	color: white;
	font-size: large;
	font-weight: 300;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: rgb(62, 62, 62);
}

/* books and authors */

.books h2,
.authors h2 {
	text-align: center;
	font-size: 40px;
}
.books ul,
.authors ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.books li,
.authors li {
	list-style: none;
	margin: 10px;
}

.books a,
.authors a {
	text-decoration: none;
	color: black;
	background-color: palevioletred;
	padding: 5px 10px;
	border-radius: 5px;
}

.books a:hover,
.authors a:hover {
	background-color: rgb(209, 74, 119);
	color: white;
}

/* dynamic route booktitle*/
.booktitle {
	text-align: center;
	background-color: palevioletred;
	border-radius: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	margin: auto;
}

.booktitle h2,
.booktitle h4 {
	margin: 8px;
	font-weight: 600;
}

.booktitle a {
	text-decoration: none;
	color: black;
	background-color: rgb(182, 0, 61);
	padding: 3px 9px;
	border-radius: 5px;
}

.booktitle a:hover {
	background-color: rgb(117, 0, 39);
	color: white;
}

.goback {
	background-color: black;
	color: white;
	text-decoration: none;
	border-radius: 0 0 5px 5px;
	padding: 0px 10px 5px 10px;
}

.goback:hover {
	background-color: white;
	color: black;
}
